storage:
  dbPath: /data/mongodata
  journal:
    enabled: true

systemLog:
  destination: file
  logAppend: true
  path: /data/mongodata/mongod.log

net:
  port:  27017
  bindIp:  0.0.0.0

security:
   authorization: enabled
