storage:
  dbPath: /data/mongodata
  journal:
    enabled: true

systemLog:
  destination: file
  logAppend: true
  path: /data/mongodata/mongod.log

net:
  port: {{ pillar['port'] }}
  bindIp: {{ pillar['host'] }}

security:
   authorization: enabled
