storage:
  dbPath: /data/mongodata
  journal:
    enabled: true

systemLog:
  destination: file
  logAppend: true
  path: /data/mongodata/mongod.log

net:
  port:  {{ config_port }}
  bindIp:  {{ config_ip }}

security:
   authorization: enabled
